<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="index.css" />

    <title>wolkenkit | Chat</title>

    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div id="app">
      <div class="error" v-if="state.error">
        <h1>Error</h1>
        <h2>{{ state.error.title }}</h2>
        <p>Details: {{ state.error.details }}</p>
      </div>

      <main>
        <ul class="messages">
          <li class="message" ref="messages" v-for="message of state.messages">
            <div class="metadata">
              <div class="user">{{ message.user }}</div>
              <div class="timestamp">{{ toTime(message.timestamp) }}</div>
            </div>
            <div class="text">{{ message.text }}</div>
            <button v-on:click="likeMessage(message.id)" class="like">👍 {{ message.likes }}</button>
          </li>
        </ul>

        <form class="send-message-form" v-on:submit.prevent="sendMessage">
          <input class="new-message" v-model="state.newMessage" ref="newMessage" type="text" placeholder="Enter a message" />
        </form>
      </main>
    </div>

    <script src="wolkenkit.js"></script>
    <script src="index.js"></script>
  </body>
</html>
